// start color 
$white : #fff;
$green :#14bf98;
$green-black : #13aa87;
$Dark-Blue : #113448;
$Leaden : #484a46;
$Light-gray : #787976;
$pargraph-header : #dfe5ec;
$services : #fbfbfb;
// End color
// font-size
$font-lg : 400 1rem/1.5625rem "Open Sans", sans-serif;
$font-md : 400 1.125rem/1.625rem "Open Sans", sans-serif;
$font-sm : 400 0.875rem/1.375rem "Open Sans", sans-serif;



// font mid navbar 

$font-navbar : 0.6875rem;